.container{
    display: grid;
    height: 500px;
    width: 500px;
    border: 2px solid black;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    background-color:cadetblue;
    
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
    background-color: black;
    /* background-color: white; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    align-items: center;
    color: white;
    border-radius: 20px ;

}

.box:hover{
    background-color: lightblue;
    color: black;
    font-size: 30px;
    border-radius: 40px;
}

img{
    border-radius: 50%;
}