/* .box{
display: flex;
border: 1px solid red;
height: 400px;
width: 800px;
margin: 50px;
background-color: lightgrey; */
/* flex-direction: column; */
/* flex-direction: row-reverse; */
/* flex-direction: column-reverse; */
/* flex-wrap: wrap;
gap: 10px; */
/* justify-content: flex-start;
 */
 /* justify-content: flex-end; */
 /* justify-content: space-evenly; */

 /* vertically placing */
 /* align-content: center; */

 /* horizontal placing */
 /* align-items: center; */







/* } */

/* .box1{
    width: 190px;
    height:100px ;
border : 1px dotted black;
background-color: lightsalmon;
order: 2;

}

.box2{
    width: 190px;
    height:100px ;
border : 1px dotted black;
background-color: lightsalmon;
order: 1;
}
.box3{
    width: 190px;
    height:100px ;
border : 1px dotted black;
background-color: lightsalmon;
}
.box4{
    width: 190px;
    height:100px ;
border : 1px dotted black;
background-color: lightsalmon;
}
.box5{
    width: 190px;
    height:100px ;
border : 1px dotted black;
background-color: lightsalmon;
}
.box6{
    width: 190px;
    height:100px ;
border : 1px dotted black;
background-color: lightsalmon;
}
.box6{
    width: 190px;
    height:100px ;
border : 1px dotted black;
background-color: lightsalmon;
}
.box7{
    width: 190px;
    height:100px ;
border : 1px dotted black;
background-color: lightsalmon;
}
.box8{
    width: 190px;
    height:100px ;
border : 1px dotted black;
background-color: lightsalmon;
} */

.box{
    display: grid;
    height: 800px;
    width: 1000px;
    border: 1px solid red;
    /* grid-template-columns: 200px 300px 300px 150px; */
    /* grid-template-columns: 50% 20% 20% 10%; */
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: 1fr 4fr; */
    grid-template-rows:200px 400px 200px ;
}

.box1{
/* height: 150px; */
    /* width: 150px; */
    height: auto;
    width: auto;
    border: 1px solid red;
    background-color: lightseagreen;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

}

.box2{
 height: 150px;
    width: 150px;
    border: 1px solid red;
      background-color: lightseagreen;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows:repeat(2,1fr) ;


}  
.box21{
 height: 20px;
    width: 20px;
    border: 1px solid red;
      background-color: lightseagreen;
      

}  
.box22{
 height: 20px;
    width: 20px;
    border: 1px solid red;
      background-color: lightseagreen;
      

}  
.box23{
 height: 20px;
    width: 20px;
    border: 1px solid red;
      background-color: lightseagreen;
      

}  
.box4{
 height: 150px;
    width: 150px;
    border: 1px solid red;
      background-color: lightseagreen;
      

}  

.box3{
height: 150px;
    width: 150px;
    border: 1px solid red;
      background-color: lightseagreen;

} 

.box4{
height: 150px;
    width: 150px;
    border: 1px solid red;
      background-color: lightseagreen;
}  
